next-js-dashboard-code/node_modules
next-js-dashboard-code/.pnp
next-js-dashboard-code/.pnp.*
next-js-dashboard-code/.yarn/*
next-js-dashboard-code/coverage
next-js-dashboard-code/.next/
next-js-dashboard-code/out/
next-js-dashboard-code/build
next-js-dashboard-code/.DS_Store
next-js-dashboard-code/*.pem
next-js-dashboard-code/npm-debug.log*
next-js-dashboard-code/yarn-debug.log*
next-js-dashboard-code/yarn-error.log*
next-js-dashboard-code/.pnpm-debug.log*
next-js-dashboard-code/.env*
next-js-dashboard-code/.vercel
next-js-dashboard-code/*.tsbuildinfo
next-js-dashboard-code/next-env.d.ts
